@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* GLOBAL STYLES */

/*color #c8e499*/
/*color #425664*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    background: #FFEEEE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-color: #2b2a2a;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    padding: 0;
}
hr {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border-style: inset;
    border-width: 1px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    font-size: 1em;
    text-decoration: none;
}
p {
    font-size: 0.9em;
}
h1 {
    font-size: 1.6em;
    font-family: 'Solitreo', cursive;
    padding-top: 35%;
}
h2 {
    font-size: 1.4em;
}
/* Navigation bar (I need help centering vertically) */

/*
ul {
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li {
    display: inline-block;
}
ul li a {
    display: block;
    padding: 10px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover {
    color: #fff;
    background: #939393;
}
*/
.navcontainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}
.navigation ul {
    display: flex;
    position: fixed;
    /*opacity: 0.8;*/
    width: 100%;
    max-width: 896px;
    list-style: none;
}
.navigation li {
    flex: 50%;
}
.navigation .user {
    flex: 50%;
}
.navigation a {
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #425664;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-size: 0.8em;
}
.navigation a:hover {
    border-bottom: #28a745 4px solid;
}
/* Main screen */
.back {
    background: url('../img/5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;

}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;

}
.content h1 {
    font-size: 55px;
    color: #011b07;
}
.content p {
    font-size: 23px;
    color: #292824;
    font-family: Roboto;
}

/* About Me */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 40px;
}
.aboutme p {
    line-height: 3;
    text-align: justify;
    padding-right: 5%;
    padding-left: 10%;
}
.title {
    color: #000000;
    text-align: center;
}
figure>img {
    border-radius: 50%;
    padding: 5%;
}
/* Blog */
.aboutBlog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.aboutmeBlog {
    display: flex;
    flex-direction: column;
    background: #0284d0;
}
.aboutmeBlog p {
    font-size: 1em;
    line-height: 3;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}
.titleBlog {
    color: #ffffff;
    font-weight: bolder;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}
.titleBlog1 {
    color: #000000;
    text-align: left;
    padding-left: 5%;

}
.btnBlog {
    color: #010101;
    padding-bottom: 5%;
    font-weight: bolder;
    text-align: center;
}
.btnBlog:hover  {
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
    transition: 0.5s
}
.myimageBlog {
    max-height: 400px;
}
/* Resume */
#resume {
    padding-top: 40px;
}
.resumecv {
    background: rgb(232, 237, 225);
}
.inli {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: baseline;*/
    align-items: center;
    align-content: center;
}
.inli:hover {
    color: #38ab57;
    font-weight: bolder;
    font-size: larger;
    transition: 0.5s
}
.inli h4 {
    margin-left: 15%;
    flex: 1;
}
.inli p {
    margin-right: 10%;
    flex: 2;
}
.title1 {
    padding-left: 5%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #425664;
    border-width: 1px;
    margin-left: 5%;
    margin-right: 5%;
}
.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 8%;
    padding: 2%;
}
.skills li {
    display: block;
    padding-top: 2%;
    padding-right: 5%;
    text-align: center;
    align-items: center;
    align-content: center;
}
.ski:hover {
    color: #0f79c4;
}
.inter ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}
.inter li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-right: 10%;
    text-align: center;
}
.inter a {
    text-decoration: none;
    color: #2b2a2a;
    text-align: center;
}
.inter a:hover {
    color: #7cc975;
    font-weight: bold;
    font-weight: 500;
}
.under img {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #425664;
    border-width: 3px;
}
.footer {
    background-color: #425664;
    border-color: #2b2a2a;
    border-top-style: solid;
    border-bottom-style: solid;
    text-align: center;
    height: 110px;
}
.footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.footer li {
    flex: 25%;
    padding-top: 2%;
}
.footer a {
    color: #bcbcbc;
    font-size: 0.9em;
}